@charset "UTF-8";
/* Custom CSS */
:root {
  --fore-color                : #111;
  --secondary-fore-color      : #444;
  --back-color                : #f8f8f8;
  --secondary-back-color      : #f0f0f0;
  --blockquote-color          : #f57c00;
  --pre-color                 : #1565c0;
  --border-color              : #aaa;
  --secondary-border-color    : #ddd;
  --heading-ratio             : 1.19;
  --universal-margin          : 0.5rem;
  --universal-padding         : 0.5rem;
  --universal-border-radius   : 0.125rem;
  --a-link-color              : #0277bd;
  --a-visited-color           : #01579b;
  --form-back-color           : #f0f0f0;
  --form-fore-color           : #111;
  --form-border-color         : #ddd;
  --input-back-color          : #f8f8f8;
  --input-fore-color          : #111;
  --input-border-color        : #ddd;
  --input-focus-color         : #0288d1;
  --input-invalid-color       : #d32f2f;
  --button-hover-back-color   : #277529;
  --button-back-color         : #308732;
  --button-fore-color         : #f8f8f8;
  --button-border-color       : transparent;
  --button-hover-border-color : transparent;
  --button-group-border-color : rgba(124, 124, 124, 0.54);
}
html,
body {
  height    : 100%;
  font-size : 13px;
}
body {
  font-family              : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  line-height              : 1.5;
  -webkit-text-size-adjust : 100%;
  margin                   : 0;
  color                    : var(--fore-color);
  background               : var(--back-color);
}
h1, h2, h3, h4, h5, h6 {
  line-height : 1.2;
  margin      : calc(1.5 * var(--universal-margin)) var(--universal-margin);
  font-weight : 500
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color      : var(--secondary-fore-color);
  display    : block;
  margin-top : -.25rem
}
h1 {
  font-size : calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio))
}
h2 {
  font-size : calc(1rem * var(--heading-ratio) * var(--heading-ratio));
}
h3 {
  font-size : calc(1rem * var(--heading-ratio))
}
h4 {
  font-size : 1rem
}
a {
  text-decoration : none;
}
a:link {
  color : var(--a-link-color);
}
a:visited {
  color : var(--a-visited-color);
}
a:hover, a:focus {
  text-decoration : underline;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style : none;
  padding      : 0;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance : button;
}
button {
  overflow       : visible;
  text-transform : none;
}
button, [type="button"], [type="submit"], [type="reset"],
a.button, label.button, .button,
a[role="button"], label[role="button"], [role="button"] {
  display         : inline-block;
  background      : var(--button-back-color);
  color           : var(--button-fore-color);
  border          : 0.0625rem solid var(--button-border-color);
  border-radius   : var(--universal-border-radius);
  padding         : var(--universal-padding) calc(1.5 * var(--universal-padding));
  margin          : var(--universal-margin);
  text-decoration : none;
  cursor          : pointer;
  transition      : background 0.3s;
}
button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus,
a.button:hover,
a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus,
a[role="button"]:hover,
a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
  background   : var(--button-hover-back-color);
  border-color : var(--button-hover-border-color);
}
input:disabled, input[disabled], textarea:disabled, textarea[disabled], select:disabled, select[disabled], button:disabled, button[disabled], .button:disabled, .button[disabled], [role="button"]:disabled, [role="button"][disabled] {
  cursor  : not-allowed;
  opacity : 0.75;
}
.header {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  height   : 4rem;
}
.header h1 {
  display : inline-block;
}
.content {
  position         : absolute;
  top              : 4rem;
  left             : 0;
  right            : 0;
  bottom           : 0;
  background-color : #F0F0F0;
}
.section-left {
  position : absolute;
  top      : 0;
  left     : 0;
  bottom   : 0;
  width    : 50%;
  float    : left;
}
.section-right {
  position : absolute;
  top      : 0;
  left     : 50%;
  bottom   : 0;
  width    : 50%;
}
.subheader {
  height : 2.5rem;
}
.section-right .subheader h2 {
  display     : inline-block;
  font-weight : normal;
  cursor      : pointer;
}
.section-right .subheader h2.selected {
  display     : inline-block;
  font-weight : bold;
  cursor      : inherit;
}
.section-left #analyze {
  position : absolute;
  top      : 0;
  right    : 0;
}
.section-left #code,
.section-right #result {
  position : absolute;
  top      : 3em;
  bottom   : 0;
  width    : calc(100% - 4px);
  resize   : none;
  border   : 1px solid grey;
}
.section-left #code {
  left : 0;
}
.section-right #result {
  right : 0;
}

